# Save exact versions
save-exact=true

# Audit level
audit-level=high

# Fund messages
fund=false

# Production only
production=false

# Log level
loglevel=warn

# Update notifier
update-notifier=false

# Engine strict
engine-strict=true